[submodule "vendor/hermes-agent"]
	path = vendor/hermes-agent
	url = https://github.com/NousResearch/hermes-agent.git
[submodule "my-crm"]
	path = my-crm
	url = git@github.com:caochun/my-crm.git
[submodule "vendor/hermes-webui"]
	path = vendor/hermes-webui
	url = git@github.com:nesquena/hermes-webui.git
[submodule "vendor/open-webui"]
	path = vendor/open-webui
	url = git@github.com:open-webui/open-webui.git
